{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us ...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Django Ecommerce</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        			<br/><br/>	
<p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor a magna in blandit. Vivamus a turpis risus. Aenean nec libero sit amet quam consectetur tempor malesuada sit amet augue. Aenean molestie orci tellus, at porttitor nulla volutpat quis. Fusce sit amet suscipit leo. Aliquam consectetur vulputate dolor, sit amet mollis dui luctus a. In iaculis ornare tortor, vitae feugiat elit tempor vel. Aenean eleifend, nulla non aliquam tristique, justo quam vestibulum mauris, vitae sagittis enim quam ac urna. Vestibulum ut molestie elit.
<br/><br/>
Mauris elementum ligula quis lorem commodo posuere. Proin sit amet sagittis magna. Nullam sed eros purus. Quisque porta turpis est, in faucibus lorem malesuada sit amet. Sed fermentum dolor ac nulla tincidunt, non porttitor arcu accumsan. Praesent ut nibh in eros pharetra ultrices. Aliquam consectetur sit amet risus pulvinar eleifend. Donec sed scelerisque leo, at tincidunt ipsum. Sed maximus luctus mi, facilisis sollicitudin erat venenatis non. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi dolor eros, ornare at dolor ac, faucibus tempus orci. Praesent euismod efficitur aliquam. Fusce a vulputate leo. 
</p>
<br/><br/>
        			</div>
        		</center>
        	</div>
        	
        </div>

{% endblock %}